<!DOCTYPE html>

<head>
  <title>{{ site.name }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
</head>

<body>
  {{> main-header }}

  <main class="container">
    <h1 class="">{{ title }}</h1>

    {{{ contents }}}

    <section class="page-section">
      <h2 id="blog">Blog</h2>

      {{#each blog }}
        <article class="page-list">
          <em class="page-list__date"><time>{{ moment date format="DD MMMM YYYY" }}</time></em>
          <h3><a href="/{{ path }}">{{ title }}</a></h3>
        </article>
      {{/each}}
    </section>
  </main>
</body>
