.postSnippet {
  margin-bottom: var(--spacer3);
  color: var(--color-black);

  &:last-child {
    margin-bottom: 0;
  }

  & > a {
    display: block;
    box-shadow: none;
    border-bottom: none;

    &:hover {
      background: none;
      text-decoration: underline;

      & > span,
      & > time {
        text-decoration: underline;
      }
    }
  }

  & .date {
    margin-bottom: 0;
  }
}

.snippetLead {
  margin-bottom: var(--spacer1);
}

.postHeader {
  margin-bottom: var(--spacer3);
}

.lead {
  margin-bottom: var(--spacer2);
  font-weight: 700;
}

.date {
  display: inline-block;
  margin-bottom: var(--spacer1);
  font-size: var(--size1);
  font-style: italic;
}

.title {
  margin-bottom: var(--spacer1);
}

.more {
  display: inline-block;
  font-size: var(--size1);
  font-style: italic;
}
